<footer>
    <div class="f-info1 pt-3 row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <div class="fc c col">
            <p style="font-weight: 600;">Support</p>
            <div class="cls">
                <a href="#">Help Centre</a>
                <a href="#">AirCover</a>
                <a href="#">Anti-discrimination</a>
                <a href="#">Disability support</a>
                <a href="#">Cancellation options</a>
                <a href="#">Report neighbourhood concern</a>
            </div>
        </div>

        <div class="sc c col">
            <p style="font-weight: 600;">Hosting</p>
            <div class="cls">
                <a href="#">Horizon your home</a>
                <a href="#">AirCover for Hosts</a>
                <a href="#">Hosting resources</a>
                <a href="#">Community forum</a>
                <a href="#">Hosting responsibly</a>
                <a href="#">Join a free Hosting class</a>
            </div>
        </div>

        <div class="tc c col">
            <p style="font-weight: 600;">Horizon Homes</p>
            <div class="cls">
                <a href="#">Newsroom</a>
                <a href="#">New features</a>
                <a href="#">Careers</a>
                <a href="#">Investors</a>
                <a href="#">HorizonHomes.org emergency stays</a>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; background-color: #ebebeb;;">
        <div style="height: 1px; width: 88%; background-color: #909090;"></div>
    </div>

    <div class="f-info row row-cols-lg-3 row row-cols-sm-2">
            <div class="f-info-brand" style="width: 350px;">&copy; HorizonHomes Private Limited</div>
            <div class="f-info-links" style="width: 350px;">
                <a href="/privacy">Privacy</a>
                &nbsp;&nbsp; 
                <a href="/terms">Terms</a>
            </div>

        <div class="f-info-socials" style="width: 350px;">
            <i class="fa-solid fa-globe socials-icon"></i>
            <b class="socials">English (IN)</b>
            &nbsp;&nbsp;&nbsp;
            <b class="socials">₹ INR</b>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa-brands fa-square-facebook socials-icon"></i>
            <i class="fa-brands fa-square-instagram socials-icon"></i>
            <i class="fa-brands fa-linkedin socials-icon"></i>
        </div>
    </div>
</footer>